{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'recipe/recipe_styles.css' %}">
    <title>Recipe-finder</title>
</head>
<body>

    {% include 'recipe/nav-bar.html'%}
    <h1>{{ recipe.name }}</h1>
    <p id="des"><strong>Description:</strong> {{ recipe.description }}</p>
    <p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
    <p><strong>Steps:</strong> {{ recipe.steps }}</p>
    <p><strong>Cook Time:</strong> {{ recipe.cook_time }}</p>
    {% if recipe.image %}
    <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
    {% endif %}
    <a href="{% url 'subcategory' recipe.subcategory.id %}" type="button" id="button1">Back to Subcategory</a>
    
</body>
</html>